header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9d8080;
    
}
nav{
    display: flex;
    gap: 20px;
    align-self: center;
    padding: 20px;
}
a{
    text-decoration: none;
    color: #473e2d;
}
.bg1{
    background-image: url(imagens/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}
.paraiso{
    color: white;
    font-size: 40px;
    position: absolute;
    left: 330px;
    top: 320px;
    
}
.aconchego{
    color: white;
    font-size: 25px;
    position: absolute;
    left: 410px;
    top: 430px;
}
.saiba-mais{
    padding: 15px 40px;
    position: absolute;
    top: 500px;
    left: 580px;
    opacity: 0.7;
    border-radius: 4px;
    border: none;
}
.hotel{
text-align: center;
padding-top: 40px;
}
.olhos{
    text-align: center;

}
.linha{
    text-align: center;
}
.linha2{
    text-align: center;
    color: white;
}
.flex1{
    background-color: #c3c63b;
    display: flex;
    gap: 20px;
    width: 1000px;
    justify-content: center;
    padding-left: 200;
}
.flex2{
    background-color: #c3c63b;
    display: flex;
    gap: 20px;
    width: 1000px;
    justify-content: center;
}

.img1{
    width: 300px;
    height: 300px;
    padding: 20px;
}
.img2{
    width: 500px;
    height: 300px;
    padding: 20px;
    
}
.img3{
    width: 500px;
    height: 300px;
    padding: 20px;
}
.img4{
    width: 300px;
    height: 300px;
    padding: 20px;
}
.flex-posiçao1{
    padding-left: 200px;
}
.flex-posiçao2{
    padding-left: 200px;
}
.penultima{
    background-color: #191c03;
    height: 400px;
}
.unico{
    color: white;
    text-align: center;
    padding-top: 40px;

}
.implantado{
    color: white;
    text-align: center;

}
.icone1{
    color: #c3c63b;
    font-size: 30px;
    padding-left: 300px;

}
.icone2{
    color: #c3c63b;
    font-size: 30px;
}
.icone3{
    color: #c3c63b;
    font-size: 30px;
    padding-right: 300px;
}
.localizacao{
    color: #c3c63b;
   
}
.pacote{
    color: #c3c63b;
}
.Acomodacoes{
    color: #c3c63b;
}
.localizada{
    color: white;
}
.esquerda{
    padding-left: 280px;
}
.direita{
    padding-right: 280px;
}
.flex3{
    display: flex;
    justify-content: space-between;

}
.flex4{
    display: flex;
    justify-content: space-between;
}

